<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="jasonqu">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Web Template</title>

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../lib/Bootflat/bootflat/css/bootflat.css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link href="fonts.css" rel="stylesheet" type="text/css" media="all"/>

    <!-- Custom styles for this template -->
    <link href="index.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-4">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--todo add  icon icon-tasks-->
            <a class="navbar-brand icon icon-tasks" href="#"> Bootflat</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-4">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Homepage</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Our Clients</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <button id="btn-signin" type="button" class="btn btn-warning navbar-btn navbar-right">Sign in</button>
        </div>

    </div>
</nav>

<div class="container">

    <div id="content" class="row">
        <div class="col-md-6">
            <div class="title">
                <h3>Welcome to our website</h3>
                <span class="byline">Mauris vulputate dolor sit amet nibh</span>
            </div>
            <p id="p-content">This is <strong>TwoColours</strong>, a free, fully standards-compliant CSS template
                designed by <a
                        href="http://templated.co" rel="nofollow">TEMPLATED</a>. The photos in this template are from <a
                        href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under the <a
                        href="http://templated.co/license">Creative Commons Attribution</a> license, so you're pretty
                much
                free
                to do whatever you want with it (even use it commercially) provided you give us credit for it. Have fun
                :)
            </p>
        </div>
        <div class="col-md-6">
            <img src="images/pic05.jpg" alt=""/>
        </div>
    </div>
</div>

<div id="featured" class="jumbotron">
    <div class="container">

        <div class="major">
            <h1>Maecenas lectus sapien</h1>
            <span class="byline">Cras vitae metus aliquam risus pellentesque pharetra</span>
        </div>

        <div class="row">
            <div class="col-md-3">
                <span class="icon icon-bar-chart"></span>

                <div class="title">
                    <h4>Maecenas lectus sapien</h4>
                    <span class="byline">Integer sit amet aliquet pretium</span>
                </div>
            </div>
            <div class="col-md-3">
                <span class="icon icon-qrcode"></span>

                <div class="title">
                    <h4>Praesent scelerisque</h4>
                    <span class="byline">Integer sit amet aliquet pretium</span>
                </div>
            </div>
            <div class="col-md-3">
                <span class="icon icon-building"></span>

                <div class="title">
                    <h4>Fusce ultrices fringilla</h4>
                    <span class="byline">Integer sit amet aliquet pretium</span>
                </div>
            </div>
            <div class="col-md-3">
                <span class="icon icon-picture"></span>

                <div class="title">
                    <h4>Etiam posuere augue</h4>
                    <span class="byline">Integer sit amet aliquet pretium</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#featured -->

<div id="thumbnails" class="container">
    <div class="major">
        <h3>Suspendisse lacus turpis</h3>
        <span class="byline">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-rounded" src="images/pic01.jpg">

                <div class="caption text-center">
                        <p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.
                            Mauris quam enim, molestie.</p>
                        <a href="#" class="btn btn-default"
                           role="button">Read More</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-rounded" src="images/pic02.jpg">

                <div class="caption text-center">
                    <p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.
                        Mauris quam enim, molestie.</p>
                    <a href="#" class="btn btn-default"
                       role="button">Read More</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-rounded" src="images/pic03.jpg">

                <div class="caption text-center">
                    <p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.
                        Mauris quam enim, molestie.</p>
                    <a href="#" class="btn btn-default"
                       role="button">Read More</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img class="img-rounded" src="images/pic04.jpg">

                <div class="caption text-center">
                    <p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.
                        Mauris quam enim, molestie.</p>
                    <a href="#" class="btn btn-default"
                       role="button">Read More</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <!--<div class="footer-logo"><a href="#">Get in touch</a></div>-->
            <div class="headline">Get in touch</div>
            <ul class="contact list-inline">
                <li><a href="#" class="icon icon-twitter"><span class="sr-only"> Twitter</span></a></li>
                <li><a href="#" class="icon icon-facebook"><span class="sr-only"> Facebook</span></a></li>
                <li><a href="#" class="icon icon-dribbble"><span class="sr-only"> Pinterest</span></a></li>
                <li><a href="#" class="icon icon-tumblr"><span class="sr-only"> Google+</span></a></li>
                <li><a href="#" class="icon icon-rss"><span class="sr-only"> Pinterest</span></a></li>
            </ul>

            <div class="footer-copyright text-center">
                <p>Copyright © 2014 Flathemes.All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> |
                    Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
l
<!-- Bootstrap -->
<script src="../../lib/Bootflat/js/jquery-1.10.1.min.js"></script>
<script src="../../lib/Bootflat/js/bootstrap.min.js"></script>

<!-- Bootflat's JS files.-->
<script src="../../lib/Bootflat/bootflat/js/icheck.min.js"></script>
<script src="../../lib/Bootflat/bootflat/js/jquery.fs.selecter.min.js"></script>
<script src="../../lib/Bootflat/bootflat/js/jquery.fs.stepper.min.js"></script>

</body>
</html>